name: Build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        gradle-version:
          - 9.2.1 # the latest release that is tested with Kotlin 2.2.0 (Kotlin Language Level 2.2)
          - 8.14.3 # the latest release that is tested with Kotlin 2.0.21 (Kotlin Language Level 1.8)
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - uses: actions/setup-java@v5
        with:
          distribution: microsoft
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: ${{ matrix.gradle-version }}
          arguments: build
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: report-{{ matrix.gradle-version }}
          path: build/reports
